services:

  tls-cert-generator:
    image: godofkebab/tls-cert-generator
    volumes:
      - .wg-quickrs-docker/certs:/app/certs
    environment:
      COUNTRY: "XX"
      STATE: "XXX"
      LOCALITY: "XXX"
      ORGANIZATION: "XXX"
      ORGANIZATIONAL_UNIT: "XXX"
      ROOT_CN: "tls-cert-generator@XXX"
    command: [ "YOUR-SERVER" ] # <-- update with your public IP/domain

  # <-- update YOUR-SERVER with the address (ip/domain) that would be in your wg endpoint
  # <-- update YOUR-PASSWORD with your password
  wg-quickrs-init:
    container_name: wg-quickrs-init-cnt
    build:
      dockerfile: src/Dockerfile
      target: runner
    volumes:
      - .wg-quickrs-docker:/app/.wg-quickrs
    command: >
      agent init --no-prompt true
      --network-name wg-quickrs-home
      --network-subnet     10.0.34.0/24

      --agent-web-address          0.0.0.0
      --agent-web-http-enabled     true
      --agent-web-http-port        80
      --agent-web-https-enabled    true
      --agent-web-https-port       443
      --agent-web-https-tls-cert   certs/servers/YOUR-SERVER/cert.pem
      --agent-web-https-tls-key    certs/servers/YOUR-SERVER/key.pem
      --agent-web-password-enabled true
      --agent-web-password         YOUR-PASSWORD
      --agent-vpn-enabled          true
      --agent-vpn-port             51820
      --agent-firewall-enabled     true
      --agent-firewall-utility     /usr/sbin/iptables
      --agent-firewall-gateway     eth0
      
      --agent-peer-name                     wg-quickrs-host
      --agent-peer-vpn-internal-address     10.0.34.1
      --agent-peer-vpn-endpoint             YOUR-SERVER:51820
      --agent-peer-kind                     server
      --agent-peer-icon-enabled             false
      --agent-peer-dns-enabled              true
      --agent-peer-dns-addresses            1.1.1.1
      --agent-peer-mtu-enabled              false
      --agent-peer-script-pre-up-enabled    false
      --agent-peer-script-post-up-enabled   false
      --agent-peer-script-pre-down-enabled  false
      --agent-peer-script-post-down-enabled false

      --default-peer-kind                               laptop
      --default-peer-icon-enabled                       false
      --default-peer-dns-enabled                        true
      --default-peer-dns-addresses                      1.1.1.1
      --default-peer-mtu-enabled                        false
      --default-peer-script-pre-up-enabled              false
      --default-peer-script-post-up-enabled             false
      --default-peer-script-pre-down-enabled            false
      --default-peer-script-post-down-enabled           false
      --default-connection-persistent-keepalive-enabled true
      --default-connection-persistent-keepalive-period  25
