name: Build and Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      target: x86_64-unknown-linux-musl
    steps:
      # Prepare environment
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install wasm-pack
        run: cargo install wasm-pack

      # Build wg-quickrs-lib for wasm
      - name: Build wg-quickrs-lib
        run: |
          cd src/
          wasm-pack build wg-quickrs-lib --target web --out-dir ../wg-quickrs-web/pkg -- --locked

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      # Build wg-quickrs-web
      - name: Build wg-quickrs-web
        run: |
          cd src/wg-quickrs-web
          npm ci --omit=dev
          npm run build

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.1

      # Run unit tests
      - name: Run unit tests
        run: |
          cd src
          cargo test --locked

      # Build wg-quickrs
      - name: Build wg-quickrs binary
        run: |
          cd src
          sudo apt-get update && sudo apt-get install -y cmake clang
          cargo install --locked cargo-zigbuild
          rustup target add ${{ env.target }}
          cargo clean
          cargo zigbuild --locked --release --package wg-quickrs --bin wg-quickrs --target=${{ env.target }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wg-quickrs
          path: src/target/${{ env.target }}/release/wg-quickrs

  run-tests:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Download binary artifact
        uses: actions/download-artifact@v4
        with:
          name: wg-quickrs
          path: src/target/release

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install dependencies
        run: |
          npm install -g @usebruno/cli
          pip install -r tests/pytest/requirements.txt
          sudo apt update && sudo apt install wireguard

      - name: Run tests
        run: |
          chmod +x src/target/release/wg-quickrs
          cd tests/pytest
          python -m pytest