name: Build and Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write   # allow creating/updating releases

jobs:
  # --------------------------
  # Step 1: Build frontend
  # --------------------------
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      # Prepare environment
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install wasm-pack
        run: curl https://drager.github.io/wasm-pack/installer/init.sh -sSf | bash

      # Build wg-quickrs-lib for wasm
      - name: Build wg-quickrs-lib
        run: |
          cd src/
          wasm-pack build wg-quickrs-lib --target web --out-dir ../wg-quickrs-web/pkg -- --locked

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      # Build wg-quickrs-web
      - name: Build wg-quickrs-web
        run: |
          cd src/wg-quickrs-web
          npm ci --omit=dev
          npm run build

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v4
        with:
          name: web-frontend
          path: src/wg-quickrs-web/dist

  # --------------------------
  # Step 2: Build Binaries
  # --------------------------
  build-binaries:
    needs: build-frontend
    name: Build ${{ matrix.target }} on ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # Linux
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            use_zig: true
          - os: ubuntu-latest
            target: aarch64-unknown-linux-musl
            use_zig: true
          - os: ubuntu-latest
            target: armv7-unknown-linux-musleabihf
            use_zig: true
          - os: ubuntu-latest
            target: armv7-unknown-linux-musleabi
            use_zig: true
          # macOS
          - os: macos-latest
            target: x86_64-apple-darwin
            use_zig: false
          - os: macos-latest
            target: aarch64-apple-darwin
            use_zig: false

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: ${{ matrix.target }}

      - name: Setup Zig
        if: matrix.use_zig == true
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.1

      - name: Download frontend artifact
        uses: actions/download-artifact@v4
        with:
          name: web-frontend
          path: src/wg-quickrs-web/dist

      - name: Build binary
        run: |
          cd src
          if [ "${{ matrix.use_zig }}" = "true" ]; then
            sudo apt-get update && sudo apt-get install -y musl-dev cmake clang llvm-dev libclang-dev pkg-config
            cargo install cargo-zigbuild
            cargo zigbuild --locked --release --target ${{ matrix.target }}
          else
            cargo build --locked --release --target ${{ matrix.target }}
          fi

      - name: Package binary + completions
        run: |
          cd src
          RUST_TARGET=${{ matrix.target }} sh run-md.sh ../docs/BUILDING.md create-a-distribution

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wg-quickrs-${{ matrix.target }}
          path: src/dist/wg-quickrs-${{ matrix.target }}.tar.gz

  # --------------------------
  # Step 3: Publish to GitHub Release
  # --------------------------
  release:
    needs: build-binaries
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: List downloaded artifacts
        run: ls -R ./artifacts

      - name: Pin version in docker-compose.yml
        run: sed -e "s|wg-quickrs:latest|wg-quickrs:${{ github.ref_name }}|g" docker-compose.yml > .github/docker-compose.yml

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: |
            artifacts/**/*.tar.gz
            installer.sh
            .github/docker-compose.yml
            docs/CLI_REFERENCE.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
